/*============= Variables =============*/
:root {
  --primary-color: #ffb900;
  --secondary-color: #171100;

  --content: #171100;
  --desc: #5f5b53;
  --content-on-color: #fff;
  --content-enable: #5f5b53;
  --content-active: #171100;

  --line-clamp: ;

  --background-01: #2e2100;
  --background-02: #fff;
  --header-background: #fffcf4;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*============= Common =============*/
.container {
  width: 117rem;
  max-width: calc(100% - 2.4rem);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

/* Button */
.btn {
  display: inline-block;
  padding: 2.3rem 1rem;
  min-width: 18rem;
  border-radius: 3.2rem;

  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: var(--content-on-color);

  background-color: var(--primary-color);

  transition: ease-in-out 150ms;
}

.btn:hover {
  background-color: var(--primary-color);
}

.secondary-btn {
  background: var(--secondary-color);
}

.nav-btn {
  padding: 1.7rem 1rem;
  min-width: 14.4rem;
  border-radius: 2.5rem;

  font-weight: 600;
  font-size: 1.6rem;
}

.card-btn {
  padding: 1.7rem 1rem;
  min-width: 11.8rem;
  border-radius: 2.5rem;
  background-color: var(--secondary-color);

  font-weight: 600;
  font-size: 1.4rem;

  transition: ease-in-out 150ms;
}

.card-btn:hover {
  background-color: var(--primary-color);
}

/* Line clamp */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*============= Header =============*/
.header {
  background: var(--header-background);
  z-index: 1;
}

.fixed {
  position: sticky;
  top: -2.8rem;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 3.6rem 0 0.8rem;
}

.header .nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 0.8rem 2.1rem;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--content-enable);
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 0.8px 0 0 currentColor;
  color: var(--content);
}

.nav a:hover::after,
.nav li.active a::after {
  position: absolute;
  left: 2rem;
  bottom: 0.5rem;
  display: block;

  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 0.1rem;

  background-color: var(--content-active);
}

.header .btn {
  margin-left: 7rem;
}

/*============= Hero =============*/
.hero {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  background-color: var(--header-background);
}

.hero .body {
  display: flex;
  gap: 23rem;
}

.hero .left {
  position: relative;
}

.left .float-card {
  position: absolute;
  bottom: 4.8rem;
  right: -10rem;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 2.8rem 2.4rem;
  width: 27rem;
  border-radius: 1.2rem;

  background: var(--background-02);
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 150ms;
}

.left .float-card:hover {
  scale: 1.08;
  /* transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg); */
}

.float-card .item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.float-card .item img {
  width: 4.8rem;
  padding: 1.2rem;
  border-radius: 50%;
}

.float-card .item:first-child img {
  background-color: #fff9e8;
}

.float-card .item:nth-child(2) img {
  background-color: #fcefff;
}

.float-card .item:last-child img {
  background-color: #ebeaff;
}

.card-info .course-number {
  color: var(--desc);
  font-size: 1.4rem;
  line-height: 1.85714;
}

.card-info .course-name {
  color: var(--content);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6667;
}

.hero .hero-img {
  width: 47rem;
  height: 68.5rem;
  object-fit: cover;
  border-radius: 2rem;
  object-position: 65% 100%;
  filter: brightness(92%);
}

.right .title {
  color: var(--content);
  font-family: "Sen";
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17241;
  letter-spacing: -0.116rem;
  margin-top: 6.4rem;
}

.right .desc {
  color: var(--desc);
  font-size: 1.8rem;
  line-height: 1.6667;
  margin-top: 2.2rem;
}

.right .action {
  display: flex;
  align-items: center;
  gap: 2.8rem;
  margin-top: 3.8rem;
}

.action .demo {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.demo .play-btn {
  background-color: var(--background-02);
  padding: 1.2rem 1.5rem;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

.action .label {
  color: var(--content);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6667;
}

.right .stats {
  margin-top: 4.8rem;
}

.stats .subtitle {
  color: var(--desc);
  font-size: 1.8rem;
  font-style: normal;
}

.stats .row,
.row .figure {
  display: flex;
  align-items: baseline;
}

.stats .row {
  margin-top: 0.8rem;
  gap: 2.8rem;
}

.figure .number {
  color: var(--content);
  font-family: Sen;
  font-size: 4.4rem;
  font-weight: 700;
}

.figure .label {
  color: var(--desc);
  font-size: 1.8rem;
  font-style: normal;
}

/*============= Coourse =============*/
.courses {
  position: relative;
  padding: 6.5rem 0;
  margin-top: 13.5rem;
}

.courses .body {
  position: relative;
}

.courses .title {
  color: var(--content);
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26316;
  letter-spacing: -0.076rem;
}

.courses .desc {
  width: 45.8rem;
  color: var(--desc);
  font-size: 1.8rem;
  line-height: 1.6667;
  margin-top: 1.6rem;
}

.courses .pagination {
  position: absolute;
  top: 8.4rem;
  right: 0;

  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.pagination .previous {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background: url(./assets/img/arrow-yellow.svg) no-repeat 45% 50%;

  cursor: pointer;
}

.pagination .previous:hover {
  background: url(./assets/img/arrow-white.svg) var(--primary-color) no-repeat
    55% 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.pagination .next {
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  background: url(./assets/img/arrow-yellow.svg) no-repeat 45% 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  cursor: pointer;
}

.pagination .next:hover {
  background: url(./assets/img/arrow-white.svg) var(--primary-color) no-repeat
    55% 50%;
  -webkit-transform: none;
  transform: none;
}

.courses .card-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 5.5rem;
}

.card-list .card {
  display: flex;
  flex-direction: column;
  width: 37rem;
  border: 1px solid #e2dfda; /* Add variable */
  border-radius: 1.2rem;
  transition: ease-in-out 150ms;
}

.card-list .card:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
  scale: 1.05;
}

.card .course-thumb {
  width: 37rem;
  height: 27.8rem;
  object-fit: cover;
  object-position: center center;
  border-radius: 1.2rem 1.2rem 0rem 0rem;
}

.card .course-info {
  position: relative;
  padding: 1.6rem 2.2rem 2.2rem;
  border-radius: 0rem 0rem 1.2rem 1.2rem;

  background-color: var(--background-02);
}

.course-info .course-name {
  color: var(--content);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6667;
}

.course-info .rating {
  position: absolute;
  right: 2.2rem;
  top: 1.7rem;

  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.rating .rate {
  color: #fea31b; /* Add variable */
  font-size: 1.6rem;
  line-height: 1.75;
}

.course-info .desc {
  width: 100%;
  color: var(--desc);
  font-size: 1.4rem;
  line-height: 1.85714;
  margin-top: 0.6rem;
}

.course-info .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.row .price {
  color: var(--content);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6667;
}
